<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94641645200-p1tidbsg1l0lusj6rv1c4ummqtlcguku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94641645200-p1tidbsg1l0lusj6rv1c4ummqtlcguku</string>
	<key>API_KEY</key>
	<string>AIzaSyDu7AW2VpmGLtHxt6sWcpgnfp8j0oMRFOs</string>
	<key>GCM_SENDER_ID</key>
	<string>94641645200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sjlearmonth.TwitterTutorial</string>
	<key>PROJECT_ID</key>
	<string>twitter-tutorial-eef63</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-tutorial-eef63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94641645200:ios:d970f12419cd4c01ff9a15</string>
	<key>DATABASE_URL</key>
	<string>https://twitter-tutorial-eef63.firebaseio.com</string>
</dict>
</plist>